[submodule "libft"]
	path = libft
	url = https://github.com/ptyshevs/libft.git
[submodule "fluid-sim"]
	path = fluid-sim
	url = https://github.com/ptyshevs/fluid-sim.git
[submodule "pbf_render"]
	path = pbf_render
	url = https://github.com/JAGJ10/PositionBasedFluids.git
